@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.VoitureIndex)]
@inject IVoitureService VoitureService
@inject NavigationManager NavManager
@inject NotifierTitleService NotifierTitle
@inject HttpClient Http
@using BlazorTable

@if (voitureViewModel == null)
{
    <div class="spinner"></div>
}
else
{
<AuthorizeView Roles="Utilisateur, Administrateur">
    <MatButton Icon="create" Raised="true" Class="mb-3 float-right" @onclick="((x) => ToggleEdit())">Editer</MatButton>
</AuthorizeView>

    <BlazorTable.Table class="table table-dark" TableHeadClass="thead-dark" @ref="Table" TableItem="VoitureViewModel" Items="voitureViewModel" PageSize="12">
        <BlazorTable.Column TableItem="VoitureViewModel" Title="Demandeur" Field="@(x => x.PersonneViewModel)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="VoitureViewModel" Title="Voiture" Field="@(x => x.TypeVoiture)" Sortable="true" Filterable="true" Width="20%">
            <EditTemplate>
                <RadzenDropDown Data="voitureNameList"
                                @bind-Value=@context.TypeVoiture
                                TValue="String"
                                AllowClear="true"
                                AllowFiltering="true"
                                Style="width:100%"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                </RadzenDropDown>
            </EditTemplate>
        </BlazorTable.Column>
        <BlazorTable.Pager ShowPageNumber="true" ShowTotalCount="true" />
    </BlazorTable.Table>
}

@code {
    private VoitureGta[] voitureList;
    private string[] voitureNameList;
    private VoitureViewModel[] voitureViewModel;
    private ITable<VoitureViewModel> Table;




    protected ConfirmBase deleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update(Lost.SharedLib.Constants.TitleTransactionIndex);

        voitureViewModel = await VoitureService.GetAllAsync();
        voitureViewModel = voitureViewModel.OrderBy(v => string.IsNullOrWhiteSpace(v.TypeVoiture)).ThenBy(v => v.TypeVoiture).Distinct().ToArray();

        foreach (var vvm in voitureViewModel)
        {
            vvm.TypeVoitureEvent += Change;
        }
        voitureList = await Http.GetJsonAsync<VoitureGta[]>("vehicles.json");
        voitureList = voitureList.Where(v => v.Type == "Cars" || v.Type == "Trucks" || v.Type == "Bikes").ToArray();
        voitureNameList = voitureList.Select(v => v.Name).Distinct().ToArray();
        StartTimer();
    }

    private void ToggleEdit()
    {
        Table.ToggleEditMode();
    }

    private void Change(object model, TypeVoitureEventArgs e)
    {
        if (model is VoitureViewModel vvm)
        {
            VoitureService.AddOrUpdateAsync(vvm);
        }

    }

    private class VoitureGta
    {
        public string Name { get; set; }
        public string Type { get; set; }
        public override string ToString()
        {
            return Name;
        }

        public override bool Equals(object obj)
        {
            if(obj is VoitureGta voitureGta)
            {
                return voitureGta.Name != Name;
            }
            return false;
        }
    }


    private static System.Timers.Timer aTimer;

    public void StartTimer()
    {
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    public async void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        var reloadVoitureViewModel = await VoitureService.GetAllAsync();
        bool diff = false;

        foreach(VoitureViewModel vvm in reloadVoitureViewModel)
        {
            var actuallVvm = voitureViewModel.First(v => v.Id == vvm.Id);
            if(vvm.TypeVoiture != actuallVvm.TypeVoiture)
            {
                diff = true;
            }
        }

        if(diff)
        {
            foreach (var vvm in voitureViewModel)
            {
                vvm.TypeVoitureEvent -= Change;
            }
            voitureViewModel = reloadVoitureViewModel.OrderBy(v => string.IsNullOrWhiteSpace(v.TypeVoiture)).ThenBy(v => v.TypeVoiture).ToArray();
            foreach (var vvm in voitureViewModel)
            {
                vvm.TypeVoitureEvent += Change;
            }
            await InvokeAsync(StateHasChanged);
        }
    }
}