@page "/"
@inject NotifierTitleService NotifierTitle

<AuthorizeView Context="auth">

    <h1>Bienvenue sur la compta Lost !</h1>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update("Page d'accueil");
    }
}
