@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.TransactionIndex)]
@inject ITransactionService TransactionService
@inject NavigationManager NavManager
@inject NotifierTitleService NotifierTitle

@if (transactionViewModel == null)
{
    <div class="spinner"></div>
}
else
{
    <Confirm @ref="deleteConfirmation"
             ConfirmationChanged="ConfirmDelete_Click"
             ConfirmationMessage=@($"Êtes-vous sûr de vouloir supprimer le Transaction de \"{transactionViewModelDelete}\" ?")
             UnableMessage=@($"")>
    </Confirm>

    <MatButton Icon="add" Raised="true" Class="mb-3" @onclick="RedirectToCreate">Créer</MatButton>

    <BlazorTable.Table class="table table-light" TableItem="TransactionViewModel" Items="transactionViewModel" PageSize="15">
        <BlazorTable.Column TableItem="TransactionViewModel" Title="Actions" Width="10%">
            <Template Context="tableContext">
                <MatIconButton Class="matIconButton" Icon="create" @onclick="@(() => RedirectToEdit(tableContext.Id))"></MatIconButton>
                <MatIconButton Class="matIconButton" Icon="delete" @onclick="@(() => RedirectToDelete(tableContext))"></MatIconButton>
            </Template>
        </BlazorTable.Column>
        <BlazorTable.Pager ShowPageNumber="true" ShowTotalCount="true" />
    </BlazorTable.Table>
}

@code {
    private TransactionViewModel[] transactionViewModel;
    private TransactionViewModel transactionViewModelDelete;

    protected ConfirmBase deleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update(Lost.SharedLib.Constants.TitleTransactionIndex);

        transactionViewModelDelete = new TransactionViewModel();
        transactionViewModel = await TransactionService.GetAllAsync();
    }

    protected void RedirectToCreate()
    {
        NavManager.NavigateTo(ConstantsUrl.TransactionCreateOrEdit);
    }

    protected void RedirectToEdit(long id)
    {
        NavManager.NavigateTo(ConstantsUrl.TransactionCreateOrEdit + "/" + id);
    }

    protected async Task RedirectToDelete(TransactionViewModel viewModel)
    {
        transactionViewModelDelete = viewModel;
        bool canBeDeleted = await TransactionService.CanBeDeleted(viewModel.Id);
        if (canBeDeleted)
        {
            deleteConfirmation.Show();
        }
        else
        {
            deleteConfirmation.ShowUnableDelete();
        }
    }

    protected async Task ConfirmDelete_Click(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await TransactionService.DeleteAsync(transactionViewModelDelete.Id);
            transactionViewModel = await TransactionService.GetAllAsync();
        }
    }
}